// https://sass-lang.com/documentation/at-rules/use/

$header-height: 50px;
$footer-height: 100px;
$paddingSM: 16px;

.layout_main {
  min-height: 100vh;

  .layout_content {
    padding: 24px;
  }

  .app-header {
    padding: 0 $paddingSM;
  }
}
